parameters:
    level: 6
    paths:
        - src
        - tests
    scanFiles:
        - migrations/m261005_000002_add_request_routes.php
        - migrations/m261005_000003_create_security_decision_corrections.php
    bootstrapFiles:
        - phpstan-bootstrap.php
    tmpDir: build/phpstan
